* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font: 16px/22px Arial, sans-serif;
    height: 100%;
    background: #C9F1FD;
}
.wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 700px;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
    font-size: x-large;
    text-align: center;
    background: #00A4D3 linear-gradient(#00A4D3, #C9F1FD);
}


/* Tags' style
-----------------------------------------------------------------------------*/
main {
    display: table;
    table-layout:fixed;
    width: 100%;
    border-spacing: 20px;
    background-color: #C9F1FD;
}

article, aside {
    display: table-cell;
    background-color: #C9F1FD;
}

article {
    width: auto;
}

aside {
    width: 20%;
}

input {
    background-color: #A8C6FA;
    border-color: #008DB1;
    border-width: 1px;
    width: auto;
    height: 30px;
}

textarea {
    font: 14px/16px Arial, sans-serif;;
    width: 100%;
    background-color: #C9F1FD;
    border-color: #008DB1;
    border-width: 2px;
    resize: none;
    box-sizing: content-box;
    text-align: left;
}

tr, td {
    height: 40px;
}
/* Center layout classes
-----------------------------------------------------------------------------*/
.content {
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow: auto;
}

.right-sidebar {
    text-align: center;
    background: #91E4FB;
}

.left-sidebar {
    text-align: center;
    background: #91E4FB;
}

.lower-middle {
    display: table;
    table-layout: auto;
    width: 100%;
    border-spacing: 20px;
    background-color: #C9F1FD;
}

.MessagePanel {
    margin: -22px auto 0;
    width: 100%;
}

.NamePanel {
    margin: -22px auto 0;
    width: 100%;
    min-width: 230px;
}


.right-sidebar-panel {
    width: 20%;
    text-align: center;
    background: #91E4FB;
}



/* Entities classes
-----------------------------------------------------------------------------*/

.msgField {
    border: none;
    height: 350px;
    text-align: start;
}

.msgInput {
    height: 150px;

}

.chatButtons {
    width: 70px;
    text-align: center;
    background: #C9F1FD;
}

.simpleChatButton {
    background-color: #A8C6FA;
    border-color: #008DB1;
    width: 70px;
    height: 70px;
}

.simpleButton {
    background-color: #A8C6FA;
    border-color: #008DB1;
    min-width: 50px;
}

.messageField {
    min-height: 40px;
    height: auto;
    background-color: #75A9F9;
}

.messageFunctions {
    width: 5%;
    vertical-align: middle;
}

.messageName {
    width: 10%;
    text-align: center;
}

.messageText {
    width: 80%;
    text-align: left;
}

.yourMessageField {
    height: auto;
    background-color: #00C8F8;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -50px auto 0;
    width: 100%;
    height: 50px;
    background: #00A4D3 linear-gradient(0deg,#00A4D3, #C9F1FD);
    position: fixed;
}